/* =====GENERAL===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --back-g: #000000;
    --back-g-icons: #FFFFFF;
    --back-g-funcion: #4BC800;
    --background-icons: rgba(255, 255, 255, 0.4);
}

.debug{
    outline: 1px solid white;
}

.d-flex{
    display: flex;
}

.j-left{
    justify-content: flex-end;
}

.padding-10{
    padding:10px;
}

.padding-3{
    padding:3px;
}

body{
    background-color: var(--back-g);
}

.icons-style{
    border-color: var(--back-g);
    border-radius: 5px;
}

/* =====END GENERAL===== */



/* =====HEADER===== */

.nav-bar{
    color: var(--back-g-icons);
}

div span{
    background-color: var(--background-icons);
}

/* =====END HEADER===== */



/* =====MAIN===== */





/* =====END MAIN===== */




/* =====FOOTER===== */





/* =====END FOOTER===== */